@using ScoutsHonour.Extensions
@model ScoutsHonour.Models.Group

@{
    ViewBag.Title = "Edit";
}

<div class="pure-g">
    <div class="pure-u-1">
        <h2>Edit Group</h2>
        <hr />

        @using (Html.BeginFormWithClassName("pure-form pure-form-aligned"))
        {
            @Html.AntiForgeryToken()

            <fieldset>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.OrganisationId)

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.Title)
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.GroupCodeParent)
                    @Html.EditorFor(model => model.GroupCodeParent)
                    @Html.ValidationMessageFor(model => model.GroupCodeParent, "", new { @class = "text-danger" })
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.GroupCodeLeader)
                    @Html.EditorFor(model => model.GroupCodeLeader)
                    @Html.ValidationMessageFor(model => model.GroupCodeLeader, "", new { @class = "text-danger" })
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.BuildingName)
                    @Html.EditorFor(model => model.BuildingName)
                    @Html.ValidationMessageFor(model => model.BuildingName, "", new { @class = "text-danger" })
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.StreetAddress)
                    @Html.EditorFor(model => model.StreetAddress)
                    @Html.ValidationMessageFor(model => model.StreetAddress, "", new { @class = "text-danger" })
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.City)
                    @Html.EditorFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>

                <div class="pure-control-group">
                    <button type="submit" class="pure-button-primary pure-button">Save</button>
                    @Html.ActionLink("Cancel", "Index", null, htmlAttributes: new { @class = "pure-button" })
                </div>
            </fieldset>
        }

    </div>
</div>