@using ScoutsHonour.Enums;
@model IEnumerable<ScoutsHonour.Models.Group>
@{
    ViewBag.Title = "Index";
}

<h2>Groups</h2>
<p>
    @if (User.IsInRole(Role.Admin.ToString())) {
        <a class="button-small pure-button-primary pure-button" href="@Url.Action("Create")"><i class="fa fa-plus"></i> New Group</a>
    }
</p>

        <table class="pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th class="xsm-hidden">
                        Address
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Title, "Details", new { id = item.Id }, new { @class = "title" })
                        </td>
                        <td class="xsm-hidden">
                            @if (!string.IsNullOrWhiteSpace(item.StreetAddress) && !string.IsNullOrWhiteSpace(item.City))
                        {
                                <text>@item.StreetAddress, @item.City</text>
                        }
                        else if (!string.IsNullOrWhiteSpace(item.StreetAddress))
                        {
                            <text>@item.StreetAddress</text>
                        }
                        else
                        {
                            <text>@item.City</text>
                        }
                        </td>
                    </tr>
            }
            </tbody>
        </table>
