<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Scouts Honour</title>

    <!--[if lte IE 8]>
    @Styles.Render("~/Content/old-ie-css")
    <![endif]-->
    <!--[if gt IE 8]><!-->
    @Styles.Render("~/Content/css")
    <!--<![endif]-->

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="layout">
        @* Menu toggle *@
        <a href="#menu" id="menuLink" class="menu-link">
            @*Hamburger icon*@
            <span></span>
        </a>
        <div id="menu">
            <div class="pure-menu pure-menu-open">
                @Html.ActionLink("Scouts Honour", "Index", "Home", new { area = "" }, new { @class = "pure-menu-heading" })
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Packs", "Index", "Groups")</li>
                    @*<li class="menu-item-divided pure-menu-selected">
                            <a href="#">Services</a>
                        </li>*@
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

        <div id="main">
            <div class="header">
                <h1>Scouts Honour</h1>
                <h2>A tool for managing cubs</h2>
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>

        @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Scouts Honour", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Packs", "Index", "Groups")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Scouts Honour</p>
            </footer>
        </div>*@

        @Scripts.Render("~/bundles/scoutshonour")
        @RenderSection("scripts", required: false)
</body>
</html>
