<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Scouts Honour</title>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!--[if lte IE 8]>
    @Styles.Render("~/Content/old-ie-css")
    <![endif]-->
    <!--[if gt IE 8]><!-->
    @Styles.Render("~/Content/css")
    <!--<![endif]-->

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{string url = Request.Url.AbsolutePath.ToLower();}
    <div id="layout">
        @* Menu toggle *@
        <a href="#menu" id="menuLink" class="menu-link">
            @*Hamburger icon*@
            <span></span>
        </a>
        <div id="menu">
            <div class="pure-menu pure-menu-open">
                @Html.ActionLink("Scouts Honour", "Index", "Home", new { area = "" }, new { @class = "pure-menu-heading" })
                <ul>
                    <li class="@(url == "/" ? "pure-menu-selected" : "" )">
                        <a href="@Url.Action("Index", "Home")"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
                    </li>
                    <li class="@(url.StartsWith("/groups") ? "pure-menu-selected" : "" )">
                        <a href="@Url.Action("Index", "Groups")"><i class="fa fa-users fa-fw"></i>&nbsp; Groups</a>
                    </li>
                    <li class="@(url.StartsWith("/contact") ? "pure-menu-selected" : "" )">
                        <a href="@Url.Action("Contact", "Home")"><i class="fa fa-envelope fa-fw"></i>&nbsp; Contact</a>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>

        <div id="main">
            @*<div class="header">
                <h2>Scouts Honour</h2>
            </div>*@
            <div class="content pad-md pad-lg">
                @RenderBody()
            </div>
        </div>
    </div>

        @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Scouts Honour", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Packs", "Index", "Groups")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Scouts Honour</p>
            </footer>
        </div>*@

        @Scripts.Render("~/bundles/scoutshonour")
        @RenderSection("scripts", required: false)
</body>
</html>
