@using ScoutsHonour.Enums;
@model ScoutsHonour.Models.Member
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this member? It might be safer to set their Status to "Left" until you are sure.</h3>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SixColour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SixColour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateJoined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Set Status to Left" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
    @using (Html.BeginForm("Destroy", "Members", new { Id = Model.Id }))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            OR <input type="submit" value="Permanently Delete" class="btn btn-default" />
        </div>
    }
</div>
@*<script>
        // verify this here: http://stackoverflow.com/questions/21116999/posting-form-to-different-mvc-post-action-depending-on-the-clicked-submit-button
        /* non-HTML5 browser support */
        $(document).on('click', '[type="submit"][data-form-action]', function (event) {
            var $this = $(this);
            var formAction = $this.attr('data-form-action');
            $this.closest('form').attr('action', formAction);
        });
    </script>*@
