@using ScoutsHonour.Enums;
@using ScoutsHonour.Helpers;
@model ScoutsHonour.Models.Member
@{
    ViewBag.Title = "Details";
}

<div class="box-head clearfix">
    <h2 class="pull-left">
        Member: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
    </h2>
    <div class="pull-right">
        @if (!User.IsInRole(Role.Parent.ToString()))
        {
            <a href="@Url.Action("Edit", "Member", new { id = Model.Id })" class="pure-button"><i class="fa fa-edit"></i>&nbsp; Edit</a>
            <a href="@Url.Action("Delete", "Member", new { id = Model.Id })" class="bg-error pure-button"><i class="fa fa-trash-o"></i>&nbsp; Delete</a>
            <a href="@Url.Action("Index")">Back to List</a>
            <br/><br/>
            <a href="@Url.Action("MemberCornerstone", "Goals", new { id = Model.Id })" class="pure-button"><i class="fa fa-edit"></i>&nbsp; Cornerstone Badges</a>                        
            <a href="@Url.Action("MemberPersonal", "Goals", new { id = Model.Id })" class="pure-button"><i class="fa fa-edit"></i>&nbsp; Personal Badges</a>                        
        }
    </div>
    <br />
</div>

<table class="pure-table pure-table-striped">
    <tbody>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Phone)</td>
            <td>@Html.DisplayFor(model => model.Phone)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Phone2)</td>
            <td>@Html.DisplayFor(model => model.Phone2)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Type)</td>
            <td>@Html.DisplayFor(model => model.Type)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.SixColour)</td>
            <td>@Html.DisplayFor(model => model.SixColour)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Rank)</td>
            <td>
                @Html.DisplayFor(model => model.Rank)
                @Html.Raw(MemberHelper.GetRankIcon(Model.Rank))
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DOB)</td>
            <td>@Html.DisplayFor(model => model.DOB)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DateJoined)</td>
            <td>@Html.DisplayFor(model => model.DateJoined)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Status)</td>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PublicNotes)</td>
            <td>@Html.DisplayFor(model => model.PublicNotes)</td>
        </tr>

        @if (!User.IsInRole(Role.Parent.ToString()))
        {
            <tr>
                <td>@Html.DisplayNameFor(model => model.PrivateNotes)</td>
                <td>@Html.DisplayFor(model => model.PrivateNotes)</td>
            </tr>
        }
    </tbody>
</table>
            
