@using ScoutsHonour.Enums;
@model IEnumerable<ScoutsHonour.Models.Member>
@{
    ViewBag.Title = "Index";
}

<h2 class="content-subhead">Members</h2>
@if (!User.IsInRole(Role.Parent.ToString()))
{
    <form method="get">
        <p>
            <a class="button-small pure-button-primary pure-button" href="@Url.Action("Create")"><i class="fa fa-plus"></i> New Member</a>
            <div>
                <label for="view">Status: </label> @Html.DropDownList("view", (SelectList)ViewBag.MemberViews, new { @onchange = "this.form.submit();" })
            </div>
        </p>
    </form>
}

<table class="pure-table pure-table-striped">
    <thead>

        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th class="xsm-hidden">
                @Html.DisplayNameFor(model => model.SixColour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th style="background-color: @item.SixColour;">&nbsp;</th>
                <td>
                    <a href="@Url.Action("Details", "Members", new { id = item.Id })">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</a>
                </td>
                <td class="xsm-hidden">
                    @Html.DisplayFor(modelItem => item.SixColour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (!User.IsInRole(Role.Parent.ToString()))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />