@using ScoutsHonour.Extensions
@model ScoutsHonour.Models.Event

@{
    ViewBag.Title = "Create";
}

<h2>Create Event</h2>

<div class="pure-g">
    <div class="pure-u-1">

        @using (Html.BeginFormWithClassName("pure-form pure-form-aligned"))
        {
            @Html.AntiForgeryToken()

            <fieldset>
                @Html.ValidationSummary(true)

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.EventDate)
                    @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "event-date" } })
                    @Html.ValidationMessageFor(model => model.EventDate)
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.Title)
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "event-title" } })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.Description)
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.Notes)
                    @Html.EditorFor(model => model.Notes)
                    @Html.ValidationMessageFor(model => model.Notes)
                </div>

                <div class="pure-control-group sh-control-separator">
                    <h4>Badges</h4>
                    <label for="goal-search">Badge search</label>
                    <input type="text" placeholder="Search for badge..." id="goal-search" class=""
                           data-sh-goalautocomplete="@Url.Action("Autocomplete")"
                           data-sh-target="goals-list" />
                    <div id="goals-list">
                    </div>
                </div>

                <h4>Attendees</h4>
                <div class="pure-controls">
                    @foreach (var item in ViewBag.PossibleAttendees)
                    {
                        <div class="onoffwrap">
                            <div class="onoffswitch">
                                <input type="checkbox" name="attendees" class="onoffswitch-checkbox" id="attendee-@item.Value" value="@item.Value" @(item.Selected ? "checked" : "")>
                                <label class="onoffswitch-label" for="attendee-@item.Value">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                            <label class="onofftext" for="attendee-@item.Value">@item.Text</label>
                        </div>
                    }
                    <br />
                </div>

                <div class="pure-controls clearfix">
                    <br />
                    <button type="submit" class="pure-button-primary pure-button">Create</button>
                    <a href="@Url.Action("Index")" class="pure-button">Cancel</a>
                </div>
            </fieldset>
        }

    </div>
</div>