@using ScoutsHonour.Enums;
@model ScoutsHonour.Models.Event
@{
    ViewBag.Title = "Details";
}

<h2>Event</h2>

<div class="pure-g">

    <div class="pure-u-1">
        <div class="box-1">
            <div class="box-head clearfix">
                <h3 class="pull-left">@Html.DisplayFor(model => model.Title)</h3>
@if (!User.IsInRole(Role.Parent.ToString())) {
                <div class="pull-right">
                    <a href="@Url.Action("Edit", "Events", new { id = Model.Id })" class="pure-button"><i class="fa fa-edit"></i>&nbsp; Edit</a>
                    <a href="@Url.Action("Delete", "Events", new { id = Model.Id })" class="bg-error pure-button"><i class="fa fa-trash-o"></i>&nbsp; Delete</a>
                </div>
}
            </div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.EventDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OrganisedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OrganisedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Notes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Notes)
                </dd>

            </dl>
        </div>
    </div>

</div>
