@using ScoutsHonour.Extensions
@model ScoutsHonour.Models.Event

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Event</h2>

<div class="pure-g">
    <div class="pure-u-1">

        @using (Html.BeginFormWithClassName("pure-form pure-form-aligned"))
        {
            @Html.AntiForgeryToken()

            <fieldset>
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.GroupId)

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.EventDate)
                    @Html.EditorFor(model => model.EventDate)
                    @Html.ValidationMessageFor(model => model.EventDate)
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.Title)
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.OrganisedBy)
                    @Html.EditorFor(model => model.OrganisedBy)
                    @Html.ValidationMessageFor(model => model.OrganisedBy)
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.Description)
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(model => model.Notes)
                    @Html.EditorFor(model => model.Notes)
                    @Html.ValidationMessageFor(model => model.Notes)
                </div>

                <div class="pure-control-group sh-control-separator">
                    <h4>Badges for this event</h4>
                    <label for="goal-search">Badge search</label>
                    <input type="text" placeholder="Search for badge..." id="goal-search" class=""
                           data-sh-goalautocomplete="@Url.Action("Autocomplete")"
                           data-sh-target="goals-list" />
                    <div id="goals-list">
                        @{string[] split;}
                        @{string badgeSection, badgePart;}
                        @foreach (var item in ViewBag.EventGoals)
                        {
                            split = @item.Text.Split(':');
                            badgeSection = split[0].Trim();
                            badgePart = (split.Length > 1) ? split[1].Trim() : "";
                            <div>
                                <input type="hidden" name="goals" id="goal-@item.Value" value="@item.Value" />
                                <a href="#" class="sh-delete pure-button button-small bg-error pull-right"><i class="fa fa-times"></i></a>
                                <em>@badgeSection</em><br />
                                <span>@badgePart</span>
                            </div>
                        }
                    </div>
                </div>

                <h4>Attendees for this event</h4>
                <div class="pure-controls">
                    @foreach (var item in ViewBag.PossibleAttendees)
                    {
                        <div class="onoffwrap">
                            <div class="onoffswitch">
                                <input type="checkbox" name="attendees" class="onoffswitch-checkbox" id="attendee-@item.Value" value="@item.Value" @(item.Selected ? "checked" : "")>
                                <label class="onoffswitch-label" for="attendee-@item.Value">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                            <label class="onofftext" for="attendee-@item.Value">@item.Text</label>
                        </div>
                    }
                    <br />
                </div>

                <div class="pure-control-group clearfix">
                    <br /> 
                    <button type="submit" class="pure-button-primary pure-button">Save</button>
                    <a href="@Url.Action("Index")" class="pure-button">Cancel</a>
                </div>
            </fieldset>
        }

    </div>
</div>
