@using Microsoft.AspNet.Identity
@model ScoutsHonour.Models.ManageUserViewModel

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

<div class="pure-g">
    <div class="pure-u-1">

        @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "pure-form pure-form-aligned", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Change Password Form</h4>
            @Html.ValidationSummary("", new { @class = "field-validation-error" })

            <div class="pure-control-group">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </div>
            
            <div class="pure-control-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>
            
            <div class="pure-control-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>

            <div class="pure-controls">
                <input type="submit" value="Change password" class="pure-button-primary pure-button" />
            </div>
        }

    </div>
</div>