@model ScoutsHonour.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title</h2>

<div class="pure-g">
    <div class="pure-u-1">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "pure-form pure-form-aligned", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Enter your email.</h4>
            @Html.ValidationSummary("", new { @class = "field-validation-error" })
            <fieldset>
                <div class="pure-control-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                </div>
                <div class="pure-controls">
                    <input type="submit" class="pure-button-primary pure-button" value="Email Link" />
                </div>
            </fieldset>
        }
    </div>
</div>