@model ScoutsHonour.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

<div class="pure-g">
    <div class="pure-u-1">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "pure-form pure-form-aligned", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Create a new account.</h4>
            @Html.ValidationSummary("", new { @class = "field-validation-error" })
            
            <fieldset>

                <div class="pure-control-group">
                    @Html.LabelFor(m => m.RegistrationCode)
                    @Html.TextBoxFor(m => m.RegistrationCode)
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </div>

                <div class="pure-control-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>

                <div class="pure-controls">
                    <input type="submit" class="pure-button-primary pure-button" value="Register" />
                </div>
            </fieldset>
        }

    </div>
</div>